{% extends 'core/base.html' %}
{% load static %}
{% block banner-img %}
{% static 'core/img/home-shonen.jpeg' %}
{% endblock %}
{% block banner-txt %}
<h4>
    {{ user.username | upper }}, bienvenido
</h4>
<h1>Anime TOP'S</h1>
<span class="subheading">Animes que han perdurado a lo largo de la historia</span>
{% endblock %}
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/clasicos/">
                    <h2 class="post-title">El Anime: Un Fenómeno Cultural que Conquista Audiencias Globales</h2>
                    <h3 class="post-subtitle">El anime es un estilo de animación originario de Japón que abarca una amplia variedad de géneros y temas, desde aventuras y fantasía hasta romance y ciencia ficción. Su popularidad se debe a su capacidad para contar historias complejas y emotivas que pueden conectar tanto con niños como con adultos, explorando temas profundos y universales como la amistad, la superación y el sacrificio. Además, el anime destaca por su estilo visual único y su habilidad para transportar a los espectadores a mundos imaginativos y detallados, lo que ha capturado la atención de audiencias alrededor del mundo, convirtiéndolo en un fenómeno cultural global.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Benjamin e Ignacio</a>
                    on Noviembre, 2024
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/clasicos/">
                    <h2 class="post-title">Dragon Ball Z</h2>
                    <h3 class="post-subtitle">Dragon Ball es considerado el "padre de los animes" por su impacto global y su influencia en el género shōnen. La serie introdujo elementos clave como las transformaciones, las batallas épicas y el crecimiento continuo del protagonista, Goku, quien inspiró a personajes de otros animes. Además, su éxito en los años 90 abrió las puertas para la internacionalización del anime, llegando a audiencias fuera de Japón. Su legado se refleja en series modernas que siguen su fórmula de desafíos y superación.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Benjamin e Ignacio</a>
                    on Noviembre, 2024
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/clasicos/">
                    <h2 class="post-title">One Piece</h2>
                    <h3 class="post-subtitle">One Piece se destaca en el anime por su épica historia de aventura y amistad, siguiendo a Luffy y su tripulación en la búsqueda del legendario "One Piece". Creada por Eiichiro Oda, la serie ha capturado a fans por más de dos décadas gracias a su profunda construcción de mundo y personajes. Explora temas de lealtad, libertad y justicia, mezclando humor y drama de forma única. Su éxito ha sido clave para atraer a nuevas generaciones al anime y consolidar el género de aventuras.</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Benjamin e Ignacio</a>
                    on Noviembre, 2024
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/clasicos/">
                    <h2 class="post-title">Naruto</h2>
                    <h3 class="post-subtitle">Naruto es uno de los animes más icónicos, reconocido por su enfoque en la superación personal y el valor de la amistad. La historia sigue a Naruto Uzumaki, un joven ninja con el sueño de convertirse en Hokage, enfrentando desafíos internos y externos mientras crece y madura. La serie explora temas profundos como el rechazo, la perseverancia y el poder de la voluntad, resonando con audiencias de todas las edades. </h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Benjamin e Ignacio</a>
                    on Noviembre, 2024
                </p>
            </div>
            
            
            
            
        </div>
    </div>
</div>
{% endblock %}